/* STORES */

@media (max-width: 750px) {
   .cards__wrapper {
      grid-template-columns: 2fr 2fr;
      grid-template-rows: auto;
      grid-template-areas: "item1 item2"
                           "item3 item4"
                           "item5 item6"
                           "item7 item8"
                           "item9 item9";
      grid-gap: 15px;
   }

   .footer__wrapper {
      margin-top: 50px;
      display: flex;
      justify-content: space-evenly;
      align-items:flex-start;
      flex-wrap: wrap;
      grid-gap: 15px;
   
   }
}

@media (max-width: 600px) {
   .cards__wrapper {
      grid-template-columns: 2fr;
      grid-template-rows: auto;
      grid-template-areas: "item1" 
                           "item2"
                           "item3" 
                           "item4"
                           "item5" 
                           "item6"
                           "item7" 
                           "item8"
                           "item9";
      grid-gap: 15px;
      justify-content: center;
   }
}

/* RESTAURANT */

@media (max-width: 990px) {
   .dishes__wrapper {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
   }

   .dishes__display {
      width: 750px;
   }

   .dish__desc {
      margin-bottom: 15px;
   }
}

@media (max-width: 590px) {
   .nav ul {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
   }
}

@media (max-width: 590px) {
   .restaurant__desc h1 {
      font-size: 25px;
   }
   
   .restaurant__desc {
      padding: 15px;
   }

   .restaurant__desc h1 {
      text-align: center;
   }
   
   .price {
      margin-left: auto;
      margin-right: auto;
   }
   
   .time {
      margin-left: auto;
      margin-right: auto;
   }

   .nav {
      display: none;
   }

   .dishes__content h1 {
      text-align: center;
   }
}

@media (max-width: 570px) {
   .footer__private p {
      max-width: 120px;
   }
}

@media (max-width: 372px) {
   .dish__price {
      margin-bottom: 11px;
      margin-top: -7px;
   }
}
